* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
*::selection {
    background-color: #be360d;
    color: #fff;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #1f1f1f;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* NAVBAR */

.site-header {
    padding-top: 24px;
    padding-bottom: 20px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo {
    display: flex;
    transition: opacity 0.4s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.site-header__logo:active {
    opacity: 0.6;
}

.site-header__list {
    display: flex;
    gap: 26px;
}
.site-header__item {
    transition: all 0.4s ease;
}

.site-header__item:hover {
    opacity: 0.8;
    transform: translateY(5px);
}
.site-header__link {
    color: #1f1f1f;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    transition: all 0.4s ease;
}

.site-header__link:hover {
    color: #be360d;
    opacity: 0.8;
    transform: translateY(5px);
}

.site-header__link:active {
    opacity: 0.6;
}

/* HERO */
.hero {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-title {
    max-width: 935px;
    width: 100%;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.25;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}

.hero__circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.hero__description-wrapper {
    max-width: 736px;
    width: 100%;
    display: flex;
    gap: 41px;
    margin-left: auto;
    margin-bottom: 22px;
}

.hero__description {
    max-width: 348px;
    width: 100%;
}

/* MAIN */
.main-content {
    padding-top: 50px;
}

/* RECENT-WORK */
.recent-work {
    padding-top: 50px;
    padding-bottom: 101px;
}

.recent-work__content {
    display: flex;
    gap: 80px;
}

.recent-work__title2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.39;
    letter-spacing: 0.2px;
    margin-bottom: 43px;
}

.recent-work__left-item {
    margin-bottom: 64px;
}
.recent-work__right-item {
    margin-bottom: 64px;
}

.recent-work__info {
    margin-top: 9px;
    border-top: 1px solid #606060;
}
.recent-work__title3 {
    padding-top: 9px;
    font-weight: 400;
    color: #464542;
    font-size: 23px;
    line-height: 1.46;
    letter-spacing: 0.2px;
}
.recent-work__description {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #6d6b67;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.4px;
}
.slash-grey {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #e0dfdc;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.4px;
}
.slash-black {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    color: #000000;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.4px;
}

.btn {
    padding: 9px 32px;
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    text-align: center;
}

/* CLIENTS */

.clients {
    padding-bottom: 104px;
    padding-top: 80px;
    margin-bottom: 8px;
    background-color: #f7f6f3;
}

.clients__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.28;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 36px;
    color: #1f1f1f;
}

.clients__list {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 67px;
    padding-right: 47px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.clients__img {
    margin-left: auto;
}

/* CONTACT */

.contact {
    background-color: #e0f391;
    padding-top: 48px;
    padding-bottom: 40px;
}

.contact__horizontal-line {
    background-color: #6d6b67;
}
.contact__bottom-wrapper {
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
}
.contact__title3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

/* FOOTER */
.footer {
    background-color: #1f1f1f;
    padding-top: 78px;
    padding-bottom: 54px;
    color: #fff;
}

.footer-img {
    margin-bottom: 64px;
}

.footer__title4 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.68;
    letter-spacing: 0.2px;
}

.footer__horizontal-line {
    height: 1px;
    margin-top: 52px;
    margin-bottom: 94px;
    width: 401px;
    background-color: #6d6b67;
}

.footer__info-wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.footer__text {
    max-width: 192px;
    width: 100%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}
.footer__info-right {
    display: flex;
}
.footer__text-span {
    color: #a8a6a0;
}


