* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
*::selection{
    background-color: #be360d;
    color: #fff;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #1f1f1f;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* NAVBAR */

.site-header {
    padding-top: 24px;
    padding-bottom: 20px;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__logo {
    display: flex;
    transition: opacity 0.4s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.site-header__logo:active {
    opacity: 0.6;
}

.site-header__list {
    display: flex;
    gap: 26px;
}
.site-header__item {
    transition: all 0.4s ease;
}

.site-header__item:hover {
    opacity: 0.8;
    transform: translateY(5px);
}
.site-header__link {
    color: #1f1f1f;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    transition: all 0.4s ease;
}

.site-header__link:hover {
    color: #be360d;
    opacity: 0.8;
    transform: translateY(5px);
}

.site-header__link:active {
    opacity: 0.6;
}

/* HERO */
.hero {
    padding-top: 100px;
    padding-bottom: 64px;
}


.hero-title {
    max-width: 935px;
    width: 100%;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.25;
    letter-spacing: 0.2px;
    margin-bottom: 12px;
}

.hero__circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #C4C4C4;
}

.hero__description-wrapper {
    max-width: 736px;
    width: 100%;
    display: flex;
    gap: 41px;
    margin-left: auto;
    
}

.hero__description {
    max-width: 348px;
    width: 100%;
   
}


/* font-family: "Libre Baskerville", serif; */
